<div class="card p-4">
  <div class="card-body">
    <h5 class="card-title">Autumn welcomes...</h5>
    <p>Choose you favorite mont of this season!</p>
    <div class="row mb-4">
      <button class="btn btn-outline-primary mb-1" routerLinkActive="active" routerLink="./sep">September</button>
      <button class="btn btn-outline-primary mb-1" routerLinkActive="active" routerLink="./oct">October</button>
      <button class="btn btn-outline-primary mb-1" routerLinkActive="active" routerLink="./nov">November</button>
      <button class="btn btn-outline-primary" routerLinkActive="active" routerLink="./dec">December</button>
    </div>
    <router-outlet />
  </div>
  <div class="card-footer">
    <button class="btn btn-outline-secondary" routerLink="/">Change season</button>
  </div>
</div>
